/*@charset "utf-8"
/* CSS Document */

/*PALETA DE CORES*/
/*
LARANJA:      #F27405
VERMELHO:     #F20505
ROXO/MARROM:  #40010D
ROXO/AZUL:    #400124
ROXO/ESCURO:  #270140
ROSA/CHOQUE:  #D9043D
ROSA/OPACO:   #BF0449
ROXO:         #8C0783
ROXO/MEIO:    #5708A6
AZUL/MÉDIO:   #430ABF
AZUL MARINHO: #110273
AZUL:         #030BA6
AZUL/GELO:    #DFE0F2
*/

@media  screen and (min-width: 360px) {}


@media screen and (max-width: 480px) {
	.moment-section .content-column .inner-column {
		margin-left: 10px;
		padding-right: 16px;
	}
	
	.depoiment-section .content-column {
		-ms-flex: 0 0 148%;
		flex: 0 0 148%;
		max-width: 148%;
	}

	.box-depoiment {
		padding: 10px;
	}
	
	.price-block {
		-ms-flex: 0 0 100%;
		flex: 0 0 100%;
		max-width: 100%;
	}
}

@media (min-width: 481px) and (max-width: 575px) {}


@media screen and (min-width: 576px) {
	.image-column-fix {
		-ms-flex: 0 0 100%;
		flex: 0 0 100%;
		max-width: 100%;
	}
	
	.content-column {
		-ms-flex: 0 0 100%;
		flex: 0 0 100%;
		max-width: 100%;
	}
	
	.moment-section .content-column .inner-column {
		margin-left: 20px;
		padding-right: 16px;
	}
	
	.depoiment-section .content-column {
		-ms-flex: 0 0 100%;
		flex: 0 0 100%;
		max-width: 100%;
	}
	
	.price-block {
		-ms-flex: 0 0 100%;
		flex: 0 0 100%;
		max-width: 100%;
	}
	
	
	.team-block {
		margin-left: 13%;
	}
}

@media screen and (min-width: 768px) {
	.image-column-fix {
		-ms-flex: 0 0 40%;
		flex: 0 0 40%;
		max-width: 40%;
	}
	
	.content-column {
		-ms-flex: 0 0 60%;
		flex: 0 0 60%;
		max-width: 60%;
	}
	
	.moment-section .content-column .inner-column {
		margin-left: 20px;
		-ms-flex: 0 0 100%;
		flex: 0 0 100%;
		max-width: 100%;
	}
	
	.depoiment-section .content-column {
		-ms-flex: 0 0 100%;
		flex: 0 0 100%;
		max-width: 100%;
	}
	
	.price-block {
		-ms-flex: 0 0 100%;
		flex: 0 0 100%;
		max-width: 100%;
	}
	
	.team-block {
		margin-left: 35%;
	}
}

@media  screen and (min-width: 842px) {}


@media  screen and (min-width: 992px) {

	.image-column-fix {
		-ms-flex: 0 0 40%;
		flex: 0 0 40%;
		max-width: 40%;
	}
	
	.content-column {
		-ms-flex: 0 0 60%;
		flex: 0 0 60%;
		max-width: 60%;
	}
	
	.moment-section .content-column .inner-column {
		margin-left: 20px;
		padding-right: 16px;
		-ms-flex: 0 0 100%;
		flex: 0 0 100%;
		max-width: 100%;
	}
	
	.image-column {
		-ms-flex: 0 0 40%;
		flex: 0 0 40%;
		max-width: 40%;
	}
		
	.depoiment-section .content-column {
		-ms-flex: 0 0 60%;
		flex: 0 0 60%;
		max-width: 60%;
	}
	
	.price-block {
		-ms-flex: 0 0 33.333333%;
		flex: 0 0 33.333333%;
		max-width: 33.333333%;
	}
	
	.team-block {
		margin-left: 40%;
	}
}

@media  screen and (min-width: 1024px) {
	
	
}


@media  screen and (min-width: 1200px) {
	
	
}
